:root {
  --THEME_COLOR_PRIMARY_STRONG: #0072b3;
  --THEME_COLOR_PRIMARY: #36a9e1;
  --THEME_COLOR_SECONDARY: #f07727;
  --THEME_COLOR_TERTIARY: #d0ddd0;
  --THEME_COLOR_QUARTIARY: #0a7b62;
  --THEME_COLOR_QUINTIARY: #cdeae4;
  --THEME_COLOR_AUX_STRONG: #3c3c3b;
  --THEME_COLOR_AUX: #706f6f;
  --THEME_FONT_COLOR: #191919;
  --THEME_COLOR_TITLE: #fff;
  --THEME_COLOR_LINK: #0782ae;
  --INVISIBLE: #00000000;

  --THEME_COLOR_MODULE_ONE_STRONG: #dcab00;
  --THEME_COLOR_MODULE_ONE_LIGHT: #fee9b6;
  --THEME_COLOR_MODULE_ONE_SUPER_LIGHT: #fff4db;
  --THEME_COLOR_MODULE_ONE: #fdc62f;

  --THEME_COLOR_MODULE_TWO_STRONG: #79952a;
  --THEME_COLOR_MODULE_TWO_LIGHT: #d6e7b1;
  --THEME_COLOR_MODULE_TWO_SUPER_LIGHT: #eaf3d8;
  --THEME_COLOR_MODULE_TWO: #93c020;

  --THEME_COLOR_MODULE_THREE_STRONG: #b81615;
  --THEME_COLOR_MODULE_THREE_LIGHT: #f0a1aa;
  --THEME_COLOR_MODULE_THREE_SUPER_LIGHT: #f7d0d5;
  --THEME_COLOR_MODULE_THREE: #e30613;

  --THEME_COLOR_MODULE_FOUR_STRONG: #0072b2;
  --THEME_COLOR_MODULE_FOUR_LIGHT: #86cbec;
  --THEME_COLOR_MODULE_FOUR_SUPER_LIGHT: #c2e5f6;
  --THEME_COLOR_MODULE_FOUR: #35a8e0;
}
