:root {

  /* --THEME_COLOR_MODULE_ONE_STRONG: #5E1023;
  --THEME_COLOR_MODULE_ONE_LIGHT: #C73F77;
  --THEME_COLOR_MODULE_ONE_SUPER_LIGHT: #FBBF09;
  --THEME_COLOR_MODULE_ONE: #942147; */


  --THEME_COLOR_MODULE_ONE_STRONG: #5E1023;
  --THEME_COLOR_MODULE_ONE_LIGHT: #c73f50;
  --THEME_COLOR_MODULE_ONE_SUPER_LIGHT: #FBBF09;
  --THEME_COLOR_MODULE_ONE: #94213c;
  --THEME_FONT_COLOR: #1a1a1a;

  }
  