/* THEME/OBJECTS USER STYLE */
.st0 {
  fill: #67B184;
}

.modulo_1 .destaque p {
  color: var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .destaque:before {
  top: -5px;
  background-image: url(../../assets/images/module_1/svg/destaque-top-modulo1.svg);
}

.modulo_1 .destaque:after {
  background-image: url(../../assets/images/module_1/svg/destaque-bottom-modulo1.svg);
}


.modulo_1 a {
  text-decoration: underline;
}

.modulo_1 .bg-secondary {
  background: var(--THEME_COLOR_MODULE_ONE) !important;
}

.modulo_1 .color-box-normal {
  background: var(--THEME_COLOR_MODULE_ONE);
}
.modulo_1 .color-box-strong {
  background: var(--THEME_COLOR_MODULE_ONE_STRONG);
}
.modulo_1 .color-box-light {
  background: var(--THEME_COLOR_MODULE_ONE_LIGHT);
}
.modulo_1 .color-box-super-light {
  background: var(--THEME_COLOR_MODULE_ONE_SUPER_LIGHT);
}


.modulo_1 .ventanita-show {
  background: var(--INVISIBLE);
  border: 2pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
  color: var(--THEME_FONT_COLOR);
}

.modulo_1 .ventanita-show.active {
  color: white !important;
  background: var(--THEME_COLOR_MODULE_ONE_STRONG) !important;
}

.modulo_1 .pin-marker {
  background-image: url(../../assets/images/module_1/resources/marcador.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 45px;
}

.modulo_1 .ventanita-caract {
  background: var(--INVISIBLE);
  border: 3pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
  padding: 30px;
}

.modulo_1 .split_button {
  background: var(--INVISIBLE);
  border: 2pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
  color: var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .split_button.active {
  background: var(--THEME_COLOR_MODULE_ONE_SUPER_LIGHT);
}

.modulo_1 .split_text_box {
  background: var(--INVISIBLE);
  border: 3pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
  padding: 30px !important;
}

.modulo_1 .jesus_slider_no_arrow .slide_ball {
  background: var(--INVISIBLE);
  border-color: var(--THEME_COLOR_MODULE_ONE);
  color: var(--THEME_COLOR_MODULE_ONE);
}

.modulo_1 .jesus_slider_no_arrow .active .slide_ball {
  background: var(--THEME_COLOR_MODULE_ONE);
  color: var(--THEME_FONT_COLOR);
}

.modulo_1 .jesus_slider_no_arrow_image_background .active .slide_ball {
  background: url(../../assets/images/module_1/resources/hex_active.png) center
    center no-repeat;
  background-size: 100%;
  color: var(--THEME_FONT_COLOR);
}

.modulo_1 .jesus_slider_no_arrow_image_background .slide_ball {
  background: url(../../assets/images/module_1/resources/hex.png) center center
    no-repeat;
  background-size: 100%;
  border-color: var(--THEME_COLOR_MODULE_ONE);
  color: var(--THEME_COLOR_MODULE_ONE);
}

.modulo_1 .jesus_board {
  background: var(--INVISIBLE);
  border: 2pt solid var(--THEME_COLOR_MODULE_ONE);
  border-radius: 15px;
}

.modulo_1 .flipster_slide {
  border: 2pt solid var(--THEME_COLOR_MODULE_ONE);
}

.modulo_1 .flipster_carousel_slide {
  border: 2pt solid var(--THEME_COLOR_MODULE_ONE);
}

.modulo_1 .flip-card-front {
  border: 3pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .flip-card-back {
  border: 3pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
}
.modulo_1 .progress-bar {
  background: var(--THEME_COLOR_MODULE_ONE);
}

.modulo_1 .progress {
  border: 2pt solid var(--THEME_COLOR_MODULE_ONE);
}

.modulo_1 .progress-bar-container {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2pt solid var(--THEME_COLOR_MODULE_ONE);
}

.modulo_1 .radial-bt {
  background: white;
  border: 2pt solid var(--THEME_COLOR_MODULE_ONE);
  border-radius: 50%;
}

.modulo_1 .radial-bt i {
  display: none;
}
.modulo_1 .progress-next {
  background-image: url(../../assets/images/module_1/resources/seta.png);
  background-repeat: no-repeat;
  background-position: center;
}

.modulo_1 .progress-prev {
  background-image: url(../../assets/images/module_1/resources/seta.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: scaleX(-1); /* Gecko */
  -o-transform: scaleX(-1); /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform: scaleX(-1); /* Standard */
}

.modulo_1 .accordion .card {
  border: 0;
  margin: 5px 0;
}

.modulo_1 .accordion .card-header {
  background-color: var(--THEME_COLOR_MODULE_ONE);
  background-image: url(../../assets/images/module_common/seta_branca_90_graus.png);
  background-size: 25px 22px;
  background-position: right 5px center;
  border-radius: 0;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border: 0;
}

.modulo_1 .accordion .card-header.collapsed {
  background-color: var(--THEME_COLOR_MODULE_ONE_LIGHT);
  background-image: url(../../assets/images/module_1/resources/seta_corada.png);
  background-size: 22px 25px;
  background-position: right 5px center;
  border-radius: 5px !important;
}

.modulo_1 .accordion .card-body {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modulo_1 .card-body {
  border: 1pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .para-pensar {
  border: 3pt solid var(--THEME_COLOR_MODULE_ONE);
}

.modulo_1 .citacao p {
  color: #706f6f;
}

.modulo_1 .matchup-card-front.flip-card-front {
  background: var(--THEME_COLOR_MODULE_ONE_LIGHT);
}

.modulo_1 .questions {
  background: var(--THEME_COLOR_MODULE_ONE);
  color: var(--THEME_FONT_COLOR);
  margin: 0;
  margin-bottom: 30px;
  border-radius: 15px;
  font-size: 20px;
}

.modulo_1 .lss_quiz label {
  -webkit-box-shadow: 0px 8px 0px 0px #f6f6f6;
  -moz-box-shadow: 0px 8px 0px 0px #f6f6f6;
  box-shadow: 0px 8px 0px 0px #f6f6f6;
  border-radius: 10px;
  border: 1px solid #c6c6c6;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  font-size: 16px;
}

.modulo_1 .lss_quiz .checkbox-radio-custom {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 0.15em;
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.5em;
  margin-top: 0.3em;
  float: left;
}

.modulo_1 .lss_quiz .progress {
  position: unset;
  top: 0;
  width: 100%;
  margin: 0 10px;
  border: unset;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 30px 30px;
  background: #36b6bb;
  -webkit-animation: lss-progress-bar-stripes 2s linear infinite;
  animation: lss-progress-bar-stripes 2s linear infinite;
}

.modulo_1 .lss_quiz .check-onradio {
  display: none;
  transform: scale(1) rotateZ(0deg);
  position: absolute;
  font-size: 0.8em;
  line-height: 0;
  top: 50%;
  left: 5%;
}

.modulo_1 .lss_quiz .input-box {
  display: none;
}

.modulo_1 .lss_quiz .questionsBox {
  box-shadow: unset;
  border-radius: 15px;
  padding: 30px;
  background: white;
  margin: 0;
}

.modulo_1 .lss_quiz .answerList {
  padding: 0;
}

.modulo_1 .lss_quiz .answerList {
  margin: 0;
}

.modulo_1 .lss_quiz .feedback-box {
  display: none;
  padding: 0;
  border: 0;
}

.modulo_1 .lss_quiz .feedback-box img {
  position: unset;
  bottom: 0;
  left: 0;
}


.modulo_1 #nextquestion {
  border: solid 3pt var(--THEME_COLOR_MODULE_ONE_STRONG);
  background: var(--THEME_COLOR_MODULE_ONE);
  color: var(--THEME_FONT_COLOR);
}

.modulo_1 #progress_lettering {
  color: white;
  border: solid 1pt var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .lss-progress-bar {
  background: var(--THEME_COLOR_MODULE_ONE_STRONG);
}
.modulo_1 .box-dtq div{
  border: 2px solid var(--THEME_COLOR_MODULE_ONE);
}


.modulo_1 .tabs .tab-pane p,
.modulo_1 .tabs .tab-pane p,
.modulo_1 .tabs .tab-pane ul,
.modulo_1 .tabs .tab-pane ol,
.modulo_1 .tabs .tab-pane h1,
.modulo_1 .tabs .tab-pane h2,
.modulo_1 .tabs .tab-pane h3,
.modulo_1 .tabs .tab-pane h4,
.modulo_1 .tabs .tab-pane h5{
  color: white !important;
  
}
 